{% extends "::base.html.twig" %}

{% block title %}Product - {{ parent() }}{% endblock %}

{% block body %}
    <section class="front-block section-product">
        <span class="front-title">All about products</span>
    </section>
{% endblock %}
