//bootstrap
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/*    MAIN    */

html, body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-family: 'Quicksand', sans-serif;
}

pre{
  position: absolute;
  z-index: 999;
  margin-top: 70px;
}

.container {
  flex: 1 0 auto;
  width: 100%;
  padding: 0;
}

/*    CONTENT    */

.header-margin{
  height: 68px;
  width: 100%;
  display: block;
  margin-top: 68px;
}

.front-block {
  display: flex;
  width: 100vw;
  height: 100vh;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.section-front{
  background: #C0FF97;
}

.section-front-about{
  background: #FFDEA2;
}

.section-front-info{
  background: #B5FFFC;
}

.section-product{
  background: #FFC4FF;
}

.section-about{
  background: #FFE099;
}

.section-profile{
  background: #B3FF99;
}

.section-cart{
  background: #D8F0F8;
}

.front-title {
  margin: auto;
  font-size: 5vw;
}

.shake:hover {
  animation: shake 0.8s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake.image{
  height: 70vh;
  display: block;
  margin: 15vh auto;
}

/*    MENU   */

.main-menu{
  position: relative;
  z-index: 1;
}

.main-menu a{
  color: #2d2d2d;
  font-weight: 700;
}

.center-menu, .user-menu{
  position: fixed;
}

.center-menu{
  display: block;
  width: 100%;
  text-align: center;
}

.user-menu{
  right: 5%;
  top: 0;
}

.center-menu a, .user-menu a{
  display: inline-block;
}

.center-menu a{
  margin: 1em 0.6em;
}

.user-menu a{
  margin: 1em 0.3em;
}

.profile-image{
  border-radius: 50%;
  height: 37px;
}

.profile-image-big{
  border-radius: 50%;
  height: 150px;
}

/*    PRODUCT    */

.thumbnail > .img-small{
  height: 50px;
  margin: 0;
  padding: 0;
}

/*    FOOTER    */

.footer-main{
  display: block;
  width: 100%;
  text-align: center;
  background: #8ED6EA;
  padding: 10px 0;
}

.footer-main p{
  margin: 0.2em 0;
}





/* icluded */

body {
  font: 400 15px/1.8 Lato, sans-serif;
  color: #777;
}
h3, h4 {
  margin: 10px 0 30px 0;
  letter-spacing: 10px;
  font-size: 20px;
  color: #111;
}
.container {
  padding: 80px 120px;
}
.person {
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 80%;
  height: 80%;
  opacity: 0.7;
}
.person:hover {
  border-color: #f1f1f1;
}
.carousel-inner img {
  height: 100vh;
  width: auto;
  margin: auto;
}

.carousel-inner > .item {
  height:100vh;
  background-size: cover;
}

.carousel-inner > .item > img{
  height: 80vh;
  padding-top: 15vh;
}

.carousel-caption{
  color: #383838;
}

.carousel-caption h3 {
  color: #383838 !important;
}

.carousel-indicators li{
  border: 1px solid #1a1a1a;
}

@media (max-width: 600px) {
  .carousel-caption, .carousel-description {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
  .carousel-inner{
    img:nth-child(2), img:nth-child(3) {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  body{
    .shopping-cart{
      top: 51px;
    }
    .container{
      padding: 10px 15px;
    }
  }
}

.bg-1 {
  background: #636363;
  color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}
.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail p {
  margin-top: 15px;
  color: #555;
}
.thumbnail > img, .thumbnail a > img{
  padding-top: 15px;
}
.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
  margin-bottom: 1em;
}
.btn:hover, .btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
}
.modal-header, h4, .close {
  background-color: #333;
  color: #fff !important;
  text-align: center;
  font-size: 30px;
}
.modal-header, .modal-body {
  padding: 40px 50px;
}
.nav-tabs li a {
  color: #777;
}
#googleMap {
  width: 100%;
  height: 400px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: #636363;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand {
  color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
  color: #fff !important;
}
.navbar-nav li.active a {
  color: #fff !important;
  background-color: #4b4b4b !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.open .dropdown-toggle {
  color: #fff;
  background-color: #555 !important;
}
.dropdown-menu li a {
  color: #000 !important;
}
.dropdown-menu li a:hover {
  background-color: #636363 !important;
}
.navbar-nav > li > .dropdown-menu{
  padding: 0;
}
footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding: 32px;
}
footer a {
  color: #f5f5f5;
}
footer a:hover {
  color: #777;
  text-decoration: none;
}
.form-control {
  border-radius: 0;
}
textarea {
  resize: none;
}

.navbar-default .navbar-nav > li > a{
  line-height: 37px;
}

.navbar-brand{
  line-height:37px;
  padding-left: 1em;
}

.person{
  width: 40%;
  height: 40%;
}

.parts-list{
  padding: 0;
}

.parts-list li{
  display: inline-block;
}

.parts-list img{
  height: 80px;
  width: auto;
  border-radius: 50px;
}

* {
  box-sizing: border-box;
}

html, body {
  font-size: 12px;
  color: #383838;
  width: 100%;
  height: 100%;
  padding-right: 0 !important;
}

.header {
  text-align: center;
  padding: 1em 0 2em;
  background-image: repeating-linear-gradient(45deg, #5f391c, #5f391c 100px, #865127 100px, #865127 200px);
  color: #f0dccd;
  box-shadow: 0 0 0 0.5em rgba(255, 255, 255, 0.25) inset;
}
.header h1 {
  font-size: 4em;
}
.header p {
  font-size: 1.2em;
  font-style: italic;
}

.cart-container {
  width: 100%;
  height: 280px;
  display: table;
}
.cart-container .empty {
  font-size: 3em;
  width: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.cart {
  list-style: none;
  height: 280px;
  width: 100%;
}
.cart .product {
  position: relative;
  width: 200px;
  height: 280px;
  float: left;
}
.cart .product:hover {
  z-index: 1;
}
.cart .product:nth-child(3n+1) .product-preview, .cart .product:nth-child(3n+1) .product-interactions {
  background: #E8B0AF;
}
.cart .product:nth-child(3n+2) .product-preview, .cart .product:nth-child(3n+2) .product-interactions {
  background: #FDDAC4;
}
.cart .product:nth-child(3n) .product-preview, .cart .product:nth-child(3n) .product-interactions {
  background: #F1D5A5;
}
.cart .product .product-preview {
  padding: 1em;
  height: 280px;
  position: relative;
}
.cart .product .product-preview .thumbnail {
  width: 100%;
  min-height: 120px;
  max-height: 200px;
}
.cart .product .product-preview .thumbnail .image {
  width: 100%;
  margin-top: 1em;
}
.cart .product .product-preview .product-paper {
  position: absolute;
  height: 75px;
  bottom: 0;
  background: rgba(255, 255, 255, 0.65);
  padding: 1em;
  display: block;
  width: 100%;
  margin-left: -1em;
}
.cart .product .product-preview .product-name {
  font-size: 1.6em;
  text-align: center;
}
.cart .product .product-preview .product-price {
  text-align: center;
  font-size: 1.2em;
}
.cart .product .product-quantity {
  font-size: 2em;
  width: 2em;
  height: 2em;
  text-align: center;
  padding: 0.35em 0;
  border-radius: 1em;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background: #fff;
  transform: rotateZ(10deg);
  backface-visibility: hidden;
}
.cart .product:hover .product-interactions, .cart .product .visible {
  opacity: 1 !important;
  transform: perspective(600px) rotateX(0deg) !important;
}
.cart .product .product-interactions {
  position: absolute;
  bottom: 75px;
  width: 100%;
  height: 60px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
  transform-origin: 50% 100% 0;
  transform: perspective(600px) rotateX(90deg);
  opacity: 0;
  transition: 0.4s all ease-in-out;
  display: table;
}
.cart .product .product-interactions .button {
  width: 32%;
  height: 60px;
  float: left;
  text-align: center;
  font-size: 5em;
  line-height: 0.75em;
  color: #999;
  background: rgba(255, 255, 255, 0.65);
  cursor: pointer;
  user-select: none;
  transition: 0.1s all ease-in-out;
  transform-origin: 50% 0 0;
  transform: perspective(600px);
  z-index: 0;
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.cart .product .product-interactions .button.plus {
  color: #7fb034;
}
.cart .product .product-interactions .button.minus {
  color: #a0ce5a;
}
.cart .product .product-interactions .button.del:after {
  content: "+";
  position: absolute;
  color: red;
  left: 50%;
  margin-left: -0.15em;
  transform: rotateZ(45deg);
}
.cart .product .product-interactions .button:nth-child(1), .cart .product .product-interactions .button:nth-child(2) {
  border-right: 1px dashed rgba(0, 0, 0, 0.1);
}
.cart .product .product-interactions .button:nth-child(2) {
  width: 36%;
}
.cart .product .product-interactions .button:active {
  font-size: 7em;
  background: #fff !important;
  box-shadow: 0 0 0 10px #fff !important;
  z-index: 10;
  line-height: 0.45em;
}
.cart .product .product-interactions .button:hover {
  background: rgba(255, 255, 255, 0.5);
}

.bill {
  margin: 0;
  padding: 1em;
  font-size: 1.4em;
  line-height: 1.6em;
  background: #F1D5A5;
  color: #48320b;
  width: 100%;
}
.bill .total {
  font-weight: bold;
  font-size: 1.6em;
}
.bill tr td {
  width: 50%;
  padding: 0.25em 20px;
}
.bill tr .label {
  text-align: right;
}

.actions {
  text-align: center;
  position: relative;
  width: 100%;
  height: 6em;
}
.actions .big-button {
  position: absolute;
  cursor: pointer;
  user-select: none;
  padding: 1em;
  width: 100%;
  font-size: 1.5em;
  transition: 0.1s all ease-in-out;
  box-shadow: 0 0 0 0 #6c411f;
}
.actions .big-button:active {
  z-index: 10;
  font-size: 2em;
}
.actions .big-button.return {
  background: #ad6932;
  color: #f0dccd;
}
.actions .big-button.return:hover {
  background: #6c411f;
}
.actions .big-button.return:before {
  content: "←";
}
.actions .big-button.go {
  background: #a0ce5a;
  color: #334715;
  font-size: 2em;
}
.actions .big-button.go:hover {
  background: #7fb034;
}
.actions .big-button.go:active {
  font-size: 2.5em;
  background: #bede8e;
  box-shadow: 0 0 0 10px #bede8e;
}

.thumbnail.tmp{
  background: none;
}

.shopping-cart{
  position: fixed;
  right: 0;
  height: 100%;
  z-index: 2;
  top: 68px;
  overflow: auto;
  max-height: 98%;
  margin-top: -1px;

  .toggle-cart{
    right: 0;
    width: 120px;
    text-align: center;

    .show-cart{
      font-size: 1.5em;
      width: 100%;
      line-height: 2em;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      cursor: pointer;
      background-color: #636363;
      opacity: 0.9;
      color: #fff;
    }
  }

  .show-hide{
    margin-top: 1em;
  }

  .cart-container{
    width: 120px;
    height: auto;

    .cart{
      height: auto;
      padding: 0;
      margin: 0;

      .product{
        height: 150px;
        width: 120px;

        .product-preview{
          padding: 0.5em;
          height: 150px;
          border-radius: 30%;

          .product-paper{
            height: 50px;
            padding: 0.2em;
            background: none;
            margin-left: -0.5em;

            .product-name{
              font-size: 1em;
            }
          }

          .thumbnail{
            img{
              height: 90px;
            }
          }
        }

        .product-quantity{
          width: 1.5em;
          height: 1.5em;
          padding: 0.2em 0;
          top: 0.5em;
          right: 0.2em;
        }

        .product-interactions{
          bottom: 50px;
          height: 30px;

          .button{
            height:30px;
            line-height: 30px;
          }
        }
      }
    }
  }

  .total{
    background: #dda0a0;
  }

  .actions{
    height: 80px;
    border-radius: 40%;

    .label{
      display: block;
      font-size: 150%;
      padding: .5em .6em .3em;
      color: #383838;
    }

    .value{
      padding: 0.3em;
      font-size: 160%;
    }
  }

  .checkout{
    height: 150px;
    .big-button.go{
      border-radius: 30%;
      padding: 0.675em;
    }
  }
}

.modal-body{

  .cart{
    height: auto;
    padding: 0;
    margin: 0;
    text-align: center;

    .product{
      height: 150px;
      width: 120px;
      float: none;
      display: inline-block;

      .product-preview{
        padding: 0.5em;
        height: 150px;
        border-radius: 30%;

        .product-paper{
          height: 50px;
          padding: 0.2em;
          background: none;
          margin-left: -0.5em;

          .product-name{
            font-size: 1em;
          }
        }

        .thumbnail{
          img{
            height: 90px;
          }
        }
      }

      .product-quantity{
        width: 1.5em;
        height: 1.5em;
        padding: 0.2em 0;
        top: 0.5em;
        right: 0.2em;
      }

      .product-interactions{
        bottom: 50px;
        height: 30px;

        .button{
          height:30px;
          line-height: 30px;
        }
      }
    }
  }
}

.checkout-sum{
  text-align: center;
  padding: 1em 0;
  border-bottom: 1px solid;

  .label{
    display: block;
    width: 100%;
    color: #383838;
    font-size: 150%;
  }
  .value{
    font-size: 160%;
  }
}

.product-preview{
  .thumbnail{
    img{
      height: 150px;
    }
  }
}

.profile-data{
  margin-top: 1em;
}

.order-info{
  text-align: center;
  label{
    width: 6em;
    text-align: right;
    margin-right: 0.5em;
  }
  input{
    padding: 3px;
    margin-top: 0.3em;
  }
  textarea{
    margin-top: 0.3em;
  }
  .pay{
    margin-top: 1em;
  }
}

#profile{

  label{
    width: 6em;
    text-align: right;
    font-weight: 400;
  }

  input{
    padding: 3px;
    margin-left: 0.5em;
    width: 10em;
  }
}

.carousel-inner{

  img{
    position: absolute;
  }

  .left-align{

    img:nth-child(1){
      right: 18%;
      top: 12%;
      z-index: 3;
    }

    img:nth-child(2){
      right: 25%;
      top: 4%;
    }

    img:nth-child(3){
      right: 31%;
      top: 16%;
    }
  }

  .right-align{

    img:nth-child(1){
      left: 18%;
      top: 12%;
      z-index: 3;
    }

    img:nth-child(2){
      left: 25%;
      top: 4%;
    }

    img:nth-child(3){
      left: 31%;
      top: 16%;
    }
  }

  .carousel-description{
    position: absolute;
    top: 40%;
    width: 30%;
    color: #383838;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);

    h1{
      text-align: center;
      letter-spacing: 2px;
      font-size: 270%;
      margin-bottom: 0.5em;
    }

    p{
      line-height: 1.5em;
      font-size: 140%;
      text-align: justify;
    }
  }

  .left{
    left: 15%;
  }

  .right{
    right: 18%;
    top: 35%;
  }
}

#products{
  .del{
    display: none;
  }
  .plus{
    width: 50%;
  }
  .minus{
    width: 50%;
  }
}

#about{
  color: #383838;
}

.single-product{
  .thumbnail {
    background: none;
    p{
      color: #383838;
    }
    .button.plus{
      font-size: 200%;
    }
  }
}

.contacts{
  p{
    font-size: 120%;
  }
  a{
    color: #383838;
  }
}

html, body {
  font: 16px "Mouse Memoirs";
}

