{% extends "::base.html.twig" %}

{% block title %}Home - {{ parent() }}{% endblock %}

{% block stylesheets %}

    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="front-block section-front">
        <span class="front-title left">Energy</span>
        <img src="{{ asset("images/orange.png") }}" class="shake image">
        <span class="front-title right">Shake</span>
    </section>
    <section class="front-block section-front-about">
        <span class="front-title">Ingredients</span>
    </section>
    <section class="front-block section-front-info">
        <span class="front-title">Energy value</span>
    </section>
{% endblock %}
