{% extends "::base.html.twig" %}

{% block title %}About - {{ parent() }}{% endblock %}

{% block body %}
    <section class="front-block section-about">
        <span class="front-title">Terms & About</span>
    </section>
{% endblock %}
