{#<footer>
    <div class="footer-main">
        <p>Energy Shake</p>
        <p>{{ 'now'|date('Y') }}</p>
    </div>
</footer>#}

<footer class="text-center">
    <a class="up-arrow" href="#home" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a><br><br>
    <p>Energy Shake</p>
    <p>{{ 'now'|date('Y') }}</p>
</footer>