<div class="modal show" id="authSuggest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>{{ 'thankyou.handleorder'|trans }}</h2>
            </div>
            <div class="modal-body">
                <a href="{{ path('app.home') }}">
                    {{ 'thankyou.continue'|trans }}
                </a>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

